.container {
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
}

h2 {
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

input {
  border: none;
  border-radius: 3px;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: #fff;
}

td:last-child {
  text-align: center;
}

button {
  background-color: #007bff;
  border: none;
  border-radius: 3px;
  color: #fff;
  font-size: 16px;
  padding: 10px;
  margin-right: 10px;
}

button:hover {
  cursor: pointer;
  background-color: #0069d9;
}

